:root {
  --text-font: "Roboto", sans-serif;
  --title-font: "Raleway", sans-serif;
  --color-font-accent: #2196f3;
  --color-font-normal: #212121;
  --color-font-light: #ffffff;
  --color-font-gray: #757575;
  --bg-footer-color: #2f303a;
}
body {
  font-family: var(--text-font);

  background-color: var(--white-text-bg-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.714;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  /* в параграфах і заголовках скидаємо марджен */
  margin: 0;
}

ul,
ol {
  /* в списках скидаємо відступи (зовнішні і внутрішні) */
  margin: 0;
  padding: 0;
}

img {
  /* усі зображення стали блоками */
  display: block;
}

.link {
  /* нижня лінія */
  text-decoration: none;
}

.address {
  /* скидає італік */
  font-style: normal;
}

.cotainer {
  /* основні параметри контейнера */
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.lists-without-dots {
  /* вимикає цяточки в списках */
  list-style: none;
}

/* ================== навігація IN ==================*/

.header .cotainer {
  display: flex;
  align-items: center;
}

.header {
  padding-top: 32px;
  padding-bottom: 32px;
  border: 1px solid #ececec;
}

/* ==================================================== */

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.logotype {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--color-font-normal);
  margin-right: 93px;
}
.cotainer .navigation {
  display: flex;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--color-font-normal);
}

.nav:hover,
.nav:focus {
  color: var(--color-font-accent);
}

.accent {
  color: var(--color-font-accent);
}

/* ================== навігація OUT ==================*/

/* <!--hero  IN-->*/
.hero {
  background-color: var(--bg-footer-color);
  text-align: center;
}

.hero-title {
  color: var(--color-font-light);
  font-weight: 900;
  font-size: 44px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
  text-align: center;
  color: var(--color-font-light);
  background-color: var(--color-font-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.842;
  letter-spacing: 0.06em;
  cursor: pointer;
}

/* <!--hero  OUT-->*/

/*<!--<!--benefits-->  IN-->*/
.advantages-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-top: 94px;
}

.advantages-item:not(:last-child) {
  margin-right: 30px;
}

.title-advantages {
  font-size: 0px;
}
.advantages-title-item {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-font-normal);
  margin-bottom: 10px;
}

.advantages-paragraph-item {
  font-weight: 500;
  font-size: 14px;
  color: var(--color-font-gray);
}
/*<!--<!--benefits-->  OUT-->*/

/*<!--Чем мы занимаемся  IN-->*/
.section-What-and-what-we-do .cotainer {
  margin-top: 94px;
}

.title-What-and-what-we-do {
  margin-bottom: 50px;
}
/*  */
.What-and-what-we-do-list {
  margin-bottom: 188px;
  display: flex;
  align-items: center;
}

.title-team {
  margin-bottom: 50px;
}

.What-and-what-we-do {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-font-normal);
}

.What-and-what-we-do-item:not(:last-child) {
  margin-right: 30px;
}

.team-title,
.team-paragraph-item {
  text-align: center;
}

/* .team-paragraph-item {
  margin-bottom: 30px;
} */

.team-list {
  display: flex;
  margin-bottom: 94px;
}

.team-item:not(:last-child) {
  align-items: center;
  margin-right: 30px;
  /*  */
}

.wrapper {
  padding: 30px 0;
}

.text {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
}

.team-title {
  color: var(--color-font-normal);
}

.team-paragraph-item {
  color: var(--color-font-gray);
}

/*<!--Чем мы занимаемся  OUT-->*/

/*<!--Filters IN-->*/
.button-caption {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: inherit;
  background-color: var(--color-font-light);
  cursor: pointer;
  color: var(--color-font-normal);
}

.button-caption:hover,
.button-caption:focus {
  color: var(--color-font-light);
  background-color: var(--color-font-accent);
}

.models-title-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-font-normal);
}
.models-paragraph-item {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 1.875px; */
  letter-spacing: 0.03em;
  color: var(--color-font-gray);
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--color-font-light);
}
/*<!--Filters  OUT-->*/

/*<!--footer IN-->*/

.logotype-footer {
  color: var(--color-font-light);
}

.hero .cotainer {
  padding: 200px;
}

.contact {
  font-weight: 500;
  font-style: normal;
}

.address-contact-geolocation-link {
  color: var(--color-font-light);
}

.address-contact-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer {
  background-color: var(--bg-footer-color);
}

.footer .cotainer {
  display: flex;
  padding: 60px 0;
  flex-direction: column;
}

.footer-logo {
  /*  */
  margin-bottom: 20px;
}

.address-contact-item {
  margin-top: 9px;
}

/*<!--footer OUT-->*/ ;
